<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">


    <!-- 数据源对象 -->
     <!--机房数据库-->
    <!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">-->

    <!--<property name = "driverClassName" value = "com.mysql.cj.jdbc.Driver" />-->
    <!--<property name="url" value="jdbc:mysql://10.103.238.28:3306/medical_manage?CharSet=utf8&amp;useUnicode=true&amp;characterEncoding=utf-8">-->
    <!--</property>-->
    <!--<property name="username" value="root"></property>-->
    <!--<property name="password" value="bigdata"></property>-->
    <!--</bean>-->
    <!--本机数据库-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost/medical_manage?CharSet=utf8&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;serverTimezone=UTC">
        </property>
        <property name="username" value="root"></property>
        <property name="password" value="admin"></property>
    </bean>

    <!-- session工厂，维护会话对象 -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQL5Dialect
                </prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.shinerio.domain.Patient</value>
                <value>com.shinerio.domain.Doctor</value>
                <value>com.shinerio.domain.Administrator</value>
                <value>com.shinerio.domain.Evaluation_info</value>
                <value>com.shinerio.domain.Department</value>
                <value>com.shinerio.domain.Rawdata</value>
            </list>
        </property>
    </bean>
    <!-- 事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- 注册注解的后台处理类 -->
    <context:annotation-config/>
    <!-- 指明使用注解的类的包 -->
    <context:component-scan base-package="com.shinerio.action,com.shinerio.dao,com.shinerio.service"/>
</beans>